nav {
  height: 10vh;
  background: rgb(32, 30, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'RocknRoll One', sans-serif;
  margin: 0px 5px;
}

nav a:hover {
  border-bottom: 1px solid white;
}

.nav-links {
  margin-left: 20px;
  display: flex;
}

.social-links {
  margin-right: 20px;
}

.hamburger {
  display: none;
}

.hamburger-links {
  display: none;
  position: fixed;
  top: 10vh;
  z-index: 2;
  background: white;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.hamburger-links li {
  text-align: center;
  margin: 10px 0px;
}

.hamburger-links li a {
  text-decoration: none;
  color: black;
}

.hamburger-links li a:hover {
  border-bottom: 1px solid black;
} 

@media only screen and (max-width: 500px) {
  .blog-projects {
    display: none;
  }
  .social-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}