.skills {
  padding: 30px 0px;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  background: white;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill h2 {
  font-size: large;
  font-weight: 500;
  color: rgb(68, 20, 129);
}

.skill ul {
  padding: 0px;
}

.skill ul li {
  list-style: none;
  margin: 6px 0px;
  text-align: center;
}

@media only screen and (max-width: 700px) { 
  .skills {
    flex-wrap: wrap;
  }
}