body {
  font-family: sans-serif;
  margin: 0px;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

.container {
  max-width: 700px;
  margin: 0px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
}

.about-me {
  padding: 20px;
  border: 1px solid silver;
  margin: 20px;
}

.image-wrapper {
  max-width: 300px;
  margin: 0px auto;
}

#profile {
  display: block;
  width: 100%;
}

.post {
  margin: 20px;
}

.message-container {
  width: 200px;
}

.message {
  background: blue;
}

.call-to-action {
  display: inline-block;
  background: blue;
  color: white;
  padding: 10px;
  border-radius: 3px;
}

.call-to-action:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: red;
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.box {
  height: 300px;
  border: 1px solid black;
  position: relative;
}

/* class selector */
/* is for many elements */

/* id selector */
/* is for one specific element */
